.logo-bar{
    height: 45px;
    width: 100%;
    background-color: black;
}

#jumbotron-center,
#jumbotron{
    height: 600px;
    background-color: aquamarine;
}

#card-img{
    height: 200px;
    background-color: red;
}

#console-img{
    height: 400px;
    background-color: violet;
}

.ps5-img-part{
    height: 180px;
    background-color: blue;
}

.test-img{
    height: 150px;
    background-color: cadetblue;
}