body{
    font-family:  Helvetica, sans-serif;
}

.bg-orange{
    background-color: #cd3d0f;
    color: white;
}

.bg-dark-custom{
    background-color: #1f1f1f;
}

.bg-grey-custom{
    background-color: #d9dadc;
}

.c-blue{
    color: #117bd1;
}

.logo-bar{
    height: 45px;
    width: 100%;
    background-color: black;
}

.logo-bar img{
    width: 100px;
    margin-right: 1rem;
}

#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position-x: center;
    height: 675px;
}

#jumbo-content img{
    width: 300px;
}

#jumbotron-center{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;

}

#new-games img,
#game-card img{
    border-radius: 1.5rem;
}

#ps-plus{
    background-color: #bebcbb;
}

#ps-now{
    background-color: #161c3b;
}

footer{
    background-color: #00439c;
}

footer ul{
    list-style-type: none;
    color: white
}